body {
    background-color: #3d6eb2;
}
#loginbox {
    background-color: white;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    padding: 20px 50px 50px;

}

#loginlogo {
    margin:auto;
    scale:0.5x;
}

h3 {
    text-align:center;
}

