body {
    background-color: #3d6eb2;
}
#loginbox {
    background-color: white;
    border-radius: 10px;
    border-width: 600px;
    margin: auto;
    margin-top: 100px;
    margin-left: 30px;

    padding: 20px 50px 50px;

}

#loginlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

h3 {
    text-align:center;
}

