

body {

    background-color: #1b457e;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

header {

    background-color: white;
    text-align: center;  
    padding: 20px;
    border-radius: 10px;
}

div.navigation {

    background-color: #3d6eb2;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 3px;
    margin-top: 3px;
    display: flex;
    position: sticky;
    top: 0;
}

div.navigation div {

    width: 25%;
    text-align: center;
    display: inline;
    color: rgba(241, 232, 232, 0.861);
}

div.navigation div:hover{
    
    color: white;
    font-size: 107%;
}

div.navigation ::after{
    content: "";
    display: table;
    clear: both;
}


div.login {
    margin: 20px 50px;
    height: 280px;
    max-width: 300px;
    border-radius: 5px;
    background-color: white;
    min-width: 150px;

    overflow: hidden;
    text-align: center;
    color: #666366;
    padding: 0 20px;
    padding-bottom: 40px;
    
}

a.loginbutton, a.learn{
  
    font-size: 16px;
    padding: 10px 70px;
    color: white;
    background: #1b457e;
    border-radius: 4px 4px 4px 4px;
    text-decoration: none;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
}

a.loginbutton:hover, a.learn:hover{
    background: #568ddb;
}

div.login > div a{
    color: #1b457e;
    display: block;
}
div.login > div a:hover{
    color: #568ddb;
}

div.mask {
   
    border: solid;
    width: 66%;
}


div.info {
    display: flex;
    height: 250px;
    background-color: rgb(44, 141, 206);
    margin-top: px;
    text-align: center;
    color: aliceblue ;
    overflow: hidden;
    border-radius: 10px;
    
}



div.column {
    color: #666366;
    text-align: center;
    height: 400px;
    margin: 30px 5px;
    background-color: white;
    border-radius: 9px;
}

div.column img{
    border-radius: 8px;
}

div.column ::after{
    content: "";
    display: table;
    clear: both;
}



footer{
    height: 200px;


}
